@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../src/Styles/font.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,
    DegularRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',DegularRegular,
    monospace;
}

@layer components {
  .capital {
font-size: 32px;
text-align: left;
color: #1C1D20;


  }
  /* ... */





  .infoText {
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #1C1D20CC;


  }




  .hoverMode {
    @apply rounded-[3px] hover:text-[#f5f5f5] hover:bg-[#3798A6] transition duration-500 cursor-pointer  inline-block;
  }


}

.react-pdf__Page__textContent.textLayer,.react-pdf__Page__annotations.annotationLayer{
  height: auto!important;
}




.special-font{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}